# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# DuckDB
*.duckdb
*.wal

# Parquet
data/parquet/*.parquet
data/results/*.parquet

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
